* {
	border-radius: 6px;
	border-color: #888888;
	box-shadow: none;
    font-size: 14px;
    font-family: JetBrains Mono Nerd Font;
}

window {
    font-family: JetBrains Mono Nerd Font;
	background-color: rgba(0,0,0,0.86);
	color: white;
	// border-bottom: 5px solid blue; 
	border: 3px solid #888888;
}

#entry{
    padding-left: 0.75em;
    border: 1px solid #888888;
}

#entry:selected {
	background-color: rgba(238,35,148,0.45);
    /* background-color: #8c0a4f; */
    border: 1px solid #ff008c;
    color: white;
}

#text:selected {
	color: white;
}

#input{
	background-color: rgba(36,77,158,0.60);
	color: white;
    height:10em;
}

#input > image.left {
	-gtk-icon-transform:scaleX(0);
}

#prompt {
    color: white;
}
